<%= link_to job_post, :class => "#{'featured-item' if job_post.featured?} list-group-item" do %>
  <div class="job-post-heading">
    <h4 class="job-post-title"><%= job_post.title %></h4>
    <span class="job-post-type"><%= job_post.job_type.name %></span>
    <% if job_post.is_fresh? %>
      <span class="label label-primary">NEW</span>
    <% end %>
  </div>
  <p class="list-group-item-text">
    <span class="job-post-company"><%= job_post.company %></span>
    <span class="job-post-location"><%= "(#{job_post.city}, #{job_post.country})" %></span>
  </p>
<% end %>
