<footer>
    <div class="container">
        <div class="row">
            <p>© <%= Time.now.year %> <%= link_to("Canada Learning Code", "http://canadalearningcode.ca/") %></p>
            <p>Built by <%= link_to("Berk Caputcu", "https://twitter.com/berkcaputcu") %>,
                <%= link_to("Philip Karpiak", "https://twitter.com/eswat") %> and
                <%= link_to("Thomas Martineau", "https://twitter.com/TMartineau") %>
            </p>
        </div>
    </div>
</footer>
